<div *ngIf="params && params.id">
    <div [attr.id]="params.id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog {{params.global?params.global.size:'modal-sm'}}">
            <div class="modal-content">
                <div class="modal-header text-center {{params.header.class || 'bg-green-club'}}">
                    <h3 class="modal-title">{{params.header.title || ''}}</h3>
                    <button type="button" class="close" [attr.title]="db.msg.close" (click)="visible=false">
                        <span aria-hidden="true">x</span>
                    </button>
                    <ng-content select="[header]"></ng-content>
                </div>
                <div class="modal-body">
                    <ng-content select="[body]"></ng-content>
                </div>
                <div class="modal-footer" *ngIf="params.footer">
                    <button *ngFor="let footer of params.footer" type="button"
                            class="{{footer.class || 'btn btn-primary'}}"
                            (click)="footer.callback();"
                    >
                        <i class="{{footer.icon || 'fa fa-list'}}"></i>
                        &nbsp;{{footer.title}}
                    </button>
                    <ng-content select="[footer]"></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>