<div *ngIf="_model" class="search-view">
    <div class="search-body">
        <form role="form" [formGroup]="_form">
            <div class="row">
                <div class="{{db.classCol()}}">
                    <i *ngIf="(_searchRest && _searchRest.findData); else
                            noFindData" class="fa fa-spinner fa-pulse fa-fw"
                       [attr.title]="'custom.findData' | translate">
                    </i>
                    <ng-template #noFindData>
                        <i class="{{_model.icon}}"></i>
                    </ng-template>
                    <strong>&nbsp;{{_search+'.filter' | translate}}&nbsp;</strong>
                    <span class="page-info" *ngIf="_searchData.count">
                        {{('custom.infoPageCount'| translate:{page:_model.getCurrentPage(true),count:_searchData.count})}}
                    </span>
                </div>
                <div class="{{db.classCol()}}">
                    <div class="{{db.classCol(11,11,10,10)}}">
                        <div class="form-group input-icon right">
                            <i class="{{_model.icon}} z-index"></i>
                            <input class="form-control"
                                   formControlName="value"
                                   placeholder="{{'field.'+_search+'.placeholder' | translate}}"
                                   type="text">
                        </div>
                    </div>
                    <div class="{{db.classCol(1,1,2,2)}}">
                        <span class="input-group-btn">
                            <button (click)="_loadDataSearch($event)" type="button"
                                    class="btn btn-green-club btn-box-tool"
                                    [attr.title]="'custom.find' | translate">
                                <i class="fa fa-search"></i>
                            </button>
                            <button (click)="_destroySearch($event)" type="button"
                                    class="btn btn-red-club btn-box-tool" [attr.title]="'custom.close' | translate">
                                <i class="fa fa-close"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <ng-template [ngIf]="_searchData.count">
                    <div class="{{db.classCol()}} table-responsive">
                        <table class="table table-hover">
                            <tbody *ngIf="_searchData && _searchData.list">
                            <tr *ngFor="let data of _searchData.list" (click)="_data=data"
                                [attr.title]="'custom.select' | translate" class="cursor-pointer">
                                <td class="td-img" style="width: 50px;">
                                    <img [src]="data.image || _static.pathElements.robot" style="display: inline-block"
                                         class="img-responsive img-search">
                                </td>
                                <td>
                                    <strong>{{_search+'.search.title' | translate}}</strong>
                                    &nbsp;{{data.title}}<br>
                                    <strong>{{_search+'.search.detail' | translate}}</strong>
                                    &nbsp;{{data.detail}}
                                </td>
                                <td style="vertical-align: middle">
                                    <i class="btn btn-box-tool text-green fa fa-check"></i>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot *ngIf="_searchData && _searchData.page && _searchData.page.length > 1 ">
                            <tr>
                                <td colspan="3">
                                    <div class="btn-group pull-right">
                                        <button (click)="_loadDataSearch($event,val)"
                                                [class.btn-green]="val == _searchPage"
                                                *ngFor="let val of _searchData.page"
                                                type="button" class="btn btn-default">
                                                <span *ngIf="val == _searchPage">
                                                    <span *ngIf="_searchRest.findData">
                                                        <i class="fa fa-spinner fa-spin"
                                                           [attr.title]="'custom.pleaseWait' | translate"></i>
                                                    </span>
                                                    <span *ngIf="!_searchRest.findData">
                                                        {{val}}
                                                    </span>
                                                </span>
                                            <span *ngIf="val != _searchPage">
                                                    {{val}}
                                                </span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </ng-template>
            </div>
        </form>
    </div>
    <div class="search-footer">
    </div>
</div>
