system-config.js*
appRoot/**/*.js
appRoot/**/*.d.ts
appRoot/**/*.map
node_modules/
jspm_packages
bower_components
aot/*
dist/*
yarn.lock
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/workspace.xml
aot/
dist/
.idea/
./index.html