*{ transition: none !important; }
.app-view{position: relative !important;}

 nav-menu,
.app-header,
.app-footer,
.box-header,
.box-footer,
.colorpicker,
.data-actions,
.data-actions-th,
.noprint{
    display: none !important;
}


body{
    letter-spacing: 1pt !important;
}
td.title-companygroup{
    background-color: rgba(0, 0, 0,0.34) !important;
    color: white !important;
    -webkit-print-color-adjust: exact;
}
.collapse {
    display: block !important;
    height: auto !important;
}