html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

main{
    background-color: #0d5628;
    width: 100%;
    height: 100%;
}
.skin-blue .wrapper{
    background-color: #e1e7da !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e8e7e7 ;
}
tbody{
    font-weight: 100 !important;
}
.padding-error{
    padding: 5px;
}
.cargar{
    color: white;
    font-size: 16pt;
    margin: 10pt;
}

table, .modal-dialog{
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    overflow: hidden;
}

div:not(.modal-content) ,section
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dm{
    border-radius: 0px !important;
}

.modal-header
{
    border-radius: 0px !important;
}


.colorpicker, .colorpicker * {
    z-index: 9999;
}

body.no-menu .content-wrapper, body.no-menu .main-footer {
    margin-left: 0px !important;
}
.margin-right-2{
    margin-right: 2px !important;
}
.popover{
    max-width: none !important;
}
.btn.redondo {
    -webkit-border-radius: 30px!important;
    -moz-border-radius: 30px!important;
    border-radius: 30px!important;
    padding-top: 9px;
    padding-bottom: 9px;
}
.btn{
    border-radius: 3px !important;
}

.box-header div .btn{
    border-radius: 0px !important;
}

.modal-dialog .close
{
    color: #FFF;
    opacity: .85;
}

.modal-dialog .close:hover
{
    color: #FFF;
    opacity: 1;
}

.modal-dialog .close:focus
{
    border-width: 0px;
}

.cursor-pointer{
    cursor: pointer;
}
.image-editor{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.image-editor:hover {opacity: 0.7;}

.img-responsive img{
    display: block;
    max-width: 100%;
    height: auto;
}
.content-wrapper{
    background-image: url('assets/img/clubGolf/BolaGolf.png'), url('assets/img/clubGolf/RobotTransparent.png');
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% ,25%;
}
.focus-error{
    border-bottom: 1px solid red !important;
}
.block-float{
    position: fixed;
    z-index: 1000;
    bottom: 10%;
    right: 1.5%;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
.text-x-large{
    font-weight: 900;
    font-size: x-large;
}

.btn-green-club, .bg-green-club{
    background-color: #0d5628;
    color: white;
}
.btn.btn-green-club:hover , .btn.btn-green-club:focus {
    color: #eaeaea;
    background-color: green;
}
.btn-red-club, .bg-red-club{
    background-color: #c73332;
    color: white;
}
.btn.btn-red-club:hover , .btn.btn-red-club:focus {
    color: #eaeaea;
    background-color: red;
}
.input-icon i {
    color: #2f6b2f !important;
}
.label.label-radius{
    border-radius: 50px !important;
}
@media (max-width: 768px) {
    .btn {
        padding: 1px 5px 2px 5px !important;
    }
}
table>tbody>tr>td:not(.notHidden) a:not(.notHidden) {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
    max-height: 20px;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

ul.ui-autocomplete {
    width: 40% !important;
    padding: 5px !important;
    z-index: 10000 !important;
}