.padding-error {
    padding: 5pt;
}

.padding-top-4 {
    padding-top: 4pt;
}

.img-search {
    width: 30px !important;
}

.form-margin {
    margin-bottom: 10pt;
}

.z-index {
    z-index: 1;
}

.alert {
    margin-bottom: 0px !important;
}

@media (max-width: 425px) {
    .input-group-addon {
        display: block;
        border: none;
    }
}

.td-img {
    width: 40pt;
}