<div [@animation_0]="'true'">
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h1>{{db.msg.profile}}</h1>
            </div>
            <div class="box-body" *ngIf="model.completed">
                <div *ngIf="db.myglobal.user.id" class="col-lg-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile">
                                <div style="margin-bottom: 15px" class="row">
                                    <div class="{{db.classCol(6,6)}}">
                                        <image-edit-view *ngIf="model.rules.image"
                                                         [image]="db.myglobal.user.image"
                                                         [default]="model.rules.image.default"
                                                         [edit]="model.rules.image.update"
                                                         (out)="saveImage($event)"
                                        ></image-edit-view>
                                    </div>
                                    <div class="{{db.classCol(6,6)}}">
                                        <div *ngFor="let key of getObjectKeys(model.rules)">
                                            <h2 *ngIf="model.rules[key].protected" class="truncate">
                                                <strong>{{model.rules[key].title}}:</strong>&nbsp;
                                                {{db.myglobal.user[key]}}
                                            </h2>
                                            <p *ngIf="!model.rules[key].protected && (model.rules[key].type=='text' || model.rules[key].type=='textarea' || model.rules[key].type=='number' || model.rules[key].type=='password')">
                                                <strong>{{model.rules[key].title}}:</strong>&nbsp;
                                                <a *ngIf="!model.rules[key].object" x-editable [endpoint]="endpoint" [function]="onEditable"
                                                   [data]="db.myglobal.user" [rules]="model.rules" [field]="key" [disabled]="!model.rules[key].update">
                                                </a>
                                                <a *ngIf="model.rules[key].object">
                                                    {{db.myglobal.user[model.rules[key].keyDisplay]}}
                                                </a>
                                            </p>
                                        </div>
                                        <strong>Rol:</strong>
                                        <a x-editable
                                           [disabled]="!model.permissions.update || !model.rules['roles'].permissions.list || !model.permissions.roleSave"
                                           [endpoint]="'/users/'+db.myglobal.user.id+'/roles'"
                                           [function]="onEditableRole" [data]="db.myglobal.user" [rules]="model.rules"
                                           field="roles">

                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
