*:not(.box .box-body .box-header) {
    border-radius: 0 !important;
    margin: 0;
    padding: 0;
    height: inherit;
}

.box {
    border-radius: 5px !important;
    height: inherit;
    overflow: hidden;
    border-top: none;
}

.box-header {
    background: #488c6c;
    border-bottom: 1px solid #0d5628;
    color: #fff;
}

.box-body {
    padding: 0 30px;
    margin: 0;
}

.box-footer {
    padding: 0 35px 10px;
}

.box-footer > * {
    padding: 0;
}

/*##########################*/

.list-group {
    border-radius: 0 !important;
    margin: 0 !important;
}

.list-group-item {
    padding: 0 5px;
    margin: 0;
    border: none;

}

.list-group-item-heading {
    background: #ecf0f5;
    color: #575757;
    margin: 0;
    border-radius: 5px;
}

.data-detail {
    height: inherit !important;
    padding: 0;
}

.data-detail-item {
    height: inherit !important;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 1px solid #ecf0f5;
    border-bottom: none !important;
    border-top: none !important;
    border-radius: 0 !important;
    padding-top: 7px;
    /*font-size: 8px !important;*/
}

.btn-box-tool {
    padding: 0;
    width: auto;
}

.item-content {
    border: 1px solid #ecf0f5;
    border-top: none;
    border-bottom: none;
    border-radius: 0 !important;
    padding: 0;
}

.item-content:hover {
    background: rgba(72, 140, 108, 0.1);
}

.action-body {
    padding: 5px;
}

.item-content-edit {
    padding: 30px;
    border: 1px solid #ecf0f5 !important;
    border-radius: 0;
    display: inline-block;
    width: 100%;
}

/*#################OTHER##########################*/

.badge {
    background: white;
    color: #488c6c !important;
}

.btn-box-tool {
    color: white;
}

.action-body {
    padding: 5px 50px !important;
}

.box-header.action-header {
    padding: 0 15px;
}

.action-header {
    font-size: 22px;
    background: #eaeaea !important;
    color: inherit !important;
    border-bottom: 1px solid #dedede !important;
}

.action-header-error {
    content: "";
}

.box-title * {
    display: inline-block;
    color: #fff;
    cursor: pointer;
}

.action-body {
    padding: 5px 50px !important;
}

.action-footer {
    padding: 2px;
}

.list-tools-btns button {
    border-radius: 0 0 20px 20px !important;
    overflow: hidden;
    border: 1px solid #ecf0f5;
    padding: 5px;
}

.error-info {
    padding: 20px;
    text-align: center;
}

.list-pager .btn-group {
    border-radius: 0 0 20px 20px !important;
    overflow: hidden;
    border: 1px solid #ecf0f5;
    padding: 0;
}

.list-pager-btn {
    border-radius: 0 !important;
    border: none;
    color: #777777;
    background-color: #ffffff;
    border-right: 1px solid #ecf0f5;
    border-left: 1px solid #ecf0f5;
}

.list-pager-btn:hover,
.list-pager-btn:active {
    color: #777777;
    background-color: #ebebeb;
    border-color: #c6c6c6;
}