<div *ngIf="model.getData() && isUnique()">
    <data-view [model]="model"
               [dataParams]="{internal:true, nav:true,viewActions:viewActions, ruleViewOptions: paramsData}"></data-view>
</div>
<div *ngIf="model.getData().list && !isUnique()" class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="data-actions-th"></th>
            <th *ngFor="let key of keyVisible" data-type="html" [class.check]="getRule(key).check"
                (click)="changeOrder(key)" class="cursor-pointer"
                [attr.title]="('custom.orderRow' | translate:{row: ('field.'+key+'.title' | translate)})">

                <i *ngIf="model.getRest().sort==key && model.getRest().order == 'asc' && !model.getRest().findData"
                   class="fa fa-caret-up text-blue"></i>
                <i *ngIf="model.getRest().sort==key && model.getRest().order == 'desc' && !model.getRest().findData"
                   class="fa fa-caret-down text-blue"></i>
                <i *ngIf="model.getRest().sort==key && model.getRest().findData" class="fa fa-spinner fa-spin"
                   [attr.title]="'custom.pleaseWait' | translate"></i>
                &nbsp;{{'field.'+key+'.title' | translate}}
            </th>
            <th data-type="html" *ngIf="params && params.actions">&nbsp;
                <tooltip-view [code]="model.prefix+'_5'"></tooltip-view>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of model.getData().list; let i=index" [class.deleted]="data.deleted">
            <td>
                <div *ngIf="viewActions && model.dataActions" class="data-actions notHidden">
                    <div *ngIf="model.dataActions.length == 1 && model.dataActions.getFirst(data)">
                        <a (click)="model.dataActions.getFirst(data).callback(data,i);">
                            <i class="{{model.dataActions.getFirst(data).view[0].icon}}"></i>
                            &nbsp;{{model.dataActions.getFirst(data).view[0].title}}
                        </a>
                    </div>
                    <div *ngIf="model.dataActions.length > 1" class="btn-group dropdown">
                        <button type="button" data-toggle="dropdown" class="btn btn-box-tool dropdown-toggle"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-gears fa-lg"></i>
                        </button>
                        <ul role="menu" class="dropdown-menu text-left submenu-config">
                            <li *ngFor="let action of model.dataActions.toArray(true,data)"
                                (click)="action.callback(data,i);">
                                <a class="cursor-pointer {{action.currentView(data).colorClass || ''}}">
                                    <i class="{{action.currentView(data).icon || ''}}"></i>
                                    &nbsp;{{action.currentView(data).title || ''}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
            <td *ngFor="let key of keyVisible" [class.check]="getRule(key).check" [class.parpadea]="data.blockField">
                <rule-view [key]="key" [data]="data" [model]="model" [paramsData]="paramsData"></rule-view>
            </td>
        </tr>
        </tbody>
        <tfoot *ngIf="model.getData().page && model.getData().page.length>1">
        <tr>
            <td [attr.colspan]="keyVisible.length + 1">
                <div class="btn-group pull-right">
                    <button (click)="currentPage=val" [class.btn-green]="val == currentPage"
                            *ngFor="let val of model.getData().page" type="button" class="btn btn-default">
                            <span *ngIf="val == currentPage">
                                <span *ngIf="model.getRest().findData">
                                    <i class="fa fa-spinner fa-spin" [attr.title]="'custom.pleaseWait' | translate"></i>
                                </span>
                                <span *ngIf="!model.getRest().findData">
                                    {{val}}
                                </span>
                            </span>
                        <span *ngIf="val != currentPage">
                                {{val}}
                            </span>
                    </button>
                    <tooltip-view [code]="model.prefix+'_9'"></tooltip-view>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>