<div *ngIf="model.dataList && model.dataList.count == 1">
    <data-view [model]="model" [dataParams]="{internal:true}" [paramsData]="paramsData"></data-view>
</div>
<div *ngIf="model.dataList && model.dataList.count > 1" class="table-responsive"  >
    <table id="footable" class="table table-striped table-hover"><!--x-footable -->
        <thead>
        <tr><!--[attr.data-breakpoints]="((i<2)?'':(i<=4)?'xs sm': (i<=7)?'xs sm md':'xs sm md lg')"-->
            <th data-type = "html" *ngFor="let key of keyVisible()" [class.check]="model.rules[key].check" (click)="changeOrder(key)" class="cursor-pointer" [attr.title]="'Ordenar por la columna '+model.rules[key].title">
                <i *ngIf="model.rest.sort==key && model.rest.order == 'asc' && !model.rest.findData" class="fa fa-caret-up text-blue"></i>
                <i *ngIf="model.rest.sort==key && model.rest.order == 'desc' && !model.rest.findData" class="fa fa-caret-down text-blue"></i>
                <i *ngIf="model.rest.sort==key && model.rest.findData" class="fa fa-spinner fa-spin" [attr.title]="db.msg.pleaseWait"></i>
                &nbsp;{{model.rules[key].title}}
            </th>
            <th data-type = "html" *ngIf="params && params.actions">&nbsp;
                <tooltip-view [code]="model.prefix+'_5'"></tooltip-view>
            </th>
        </tr>
        </thead>
        <tbody >
            <tr *ngFor="let data of model.dataList.list"  [class.deleted]="data.deleted">
                <td *ngFor="let key of keyVisible()" [class.check]="model.rules[key].check" [class.parpadea]="data.blockField">
                    <rule-view [key]="key" [data]="data" [model]="model" [paramsData]="paramsData"></rule-view>
                </td>
                <td *ngIf="params && params.actions" class="notHidden">

                    <div class="btn-group dropdown pull-right" *ngIf="keyActions.length > 1 && !data.deleted">
                        <button type="button" data-toggle="dropdown"
                                class="btn btn-box-tool dropdown-toggle"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-gears fa-lg"></i>
                        </button>
                        <ul role="menu" class="dropdown-menu text-left submenu-config">
                            <li *ngFor="let key of actionPermissionKey()">
                                <a *ngIf="key == 'delete' && data.enabled"
                                   data-toggle="modal" [attr.data-target]="'#'+params.actions[key].idModal"
                                   (click)="paramsData.select = data" href="#">
                                    <i class="{{params.actions[key].icon}}"></i>
                                    &nbsp;{{params.actions[key].title}}
                                </a>
                                <a *ngIf="key == 'onPatch' && params.actions[key].type=='boolean'"
                                   (click)="model.onPatch(params.actions[key].field,data)">
                                    <span class="{{params.actions[key].icon}}"></span>
                                    {{data[key]?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                                </a>
                                <a *ngIf="key == 'onLock'"
                                   (click)="model.onLock('enabled',data)">
                                    <span class="{{params.actions[key].icon}}"></span>
                                    {{data.enabled?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                                </a>
                                <a *ngIf="key == 'viewHistory'" [attr.href]="params.actions[key].path+data.id">
                                    <span class="{{params.actions[key].icon}}"></span>
                                    &nbsp;{{params.actions[key].title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="keyActions.length == 1 && !data.deleted">

                        <div *ngFor="let key of actionPermissionKey()">
                            <a *ngIf="key == 'delete'  && data.enabled"
                               data-toggle="modal" [attr.data-target]="'#'+params.actions[key].idModal"
                               (click)="paramsData.select = data" href="#">
                                <i class="{{params.actions[key].icon}}"></i>
                                &nbsp;{{params.actions[key].title}}
                            </a>
                            <a *ngIf="key == 'onPatch' && params.actions[key].type=='boolean'"
                               (click)="model.onPatch(params.actions[key].field,data)">
                                <span class="{{params.actions[key].icon}}"></span>
                                {{data[key]?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                            </a>
                            <a *ngIf="key == 'onLock'"
                               (click)="model.onLock('enabled',data)">
                                <span class="{{params.actions[key].icon}}"></span>
                                {{data.enabled?params.actions[key].titleTrue:params.actions[key].titleFalse}}
                            </a>
                            <a *ngIf="key == 'viewHistory'" [attr.href]="params.actions[key].path+data.id">
                                <span class="{{params.actions[key].icon}}"></span>
                                &nbsp;{{params.actions[key].title}}
                            </a>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="model.dataList && model.dataList.page && model.dataList.page.length > 1">
        <tr>
            <td [attr.colspan]="keyVisible().length + 1">
                <div class="btn-group pull-right">
                    <button (click)="currentPage=val" [class.btn-green]="val == currentPage" *ngFor="let val of model.dataList.page" type="button" class="btn btn-default">
                        <span *ngIf="val == currentPage">
                            <span *ngIf="model.rest.findData">
                                <i class="fa fa-spinner fa-spin" [attr.title]="db.msg.pleaseWait"></i>
                            </span>
                            <span *ngIf="!model.rest.findData">
                                {{val}}
                            </span>
                        </span>
                        <span *ngIf="val != currentPage">
                            {{val}}
                        </span>

                    </button>
                    <tooltip-view [code]="model.prefix+'_9'"></tooltip-view>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<!--########################################MODALS########################################-->

<div *ngIf="model.permissions.delete && params && params.actions && params.actions.delete">
    <div class="modal fade" [attr.id]="params.actions.delete.idModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header btn-red text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel"><i
                            class="fa fa-warning"></i>&nbsp;<strong>{{db.msg.warningTitle}}&nbsp;
                        <tooltip-view [code]="model.prefix+'_10'"></tooltip-view>
                    </strong></h3>
                </div>
                <div class="modal-body">
                    {{params.actions.delete.message}} <strong>'{{paramsData.select[params.actions.delete.keyAction]}}'</strong>
                    ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;{{db.msg.warningButtonExit}}</button>
                    <button (click)="model.onDelete($event,paramsData.select.id)" data-dismiss="modal" type="button"
                            class="btn btn-red fa fa-trash">&nbsp;{{db.msg.delete}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let key of getObjectKeys(modelSave)">
    <save-view [rules]="modelSave[key].rulesSave" [params]="modelSave[key].paramsSave"
               (save)="getDataSave($event,key)"></save-view>
</div>

<div *ngIf="paramsData && paramsData.searchParams && !paramsData.searchParams.multiple && paramsData.searchParams.idModal">
    <search-view [params]="paramsData.searchParams" (result)="getDataSearch($event)" (getInstance)="setInstanceSearch('unique',$event)"></search-view>
</div>

<div *ngIf="paramsData && paramsData.searchParams && paramsData.searchParams.multiple && paramsData.searchParams.idModal">
    <search-multiple-view [params]="paramsData.searchParams" (result)="getDataSearchMultiple($event)" (getInstance)="setInstanceSearch('multiple',$event)"></search-multiple-view>
</div>


<div *ngIf="paramsData && paramsData.ruleReference && paramsData.ruleReference.paramsSave">
    <save-view [rules]="paramsData.ruleReference.rulesSave" [params]="paramsData.ruleReference.paramsSave" (save)="setDataFieldReference($event)"></save-view>
</div>

<div *ngIf="paramsData && paramsData.ruleReference && paramsData.ruleReference.paramsSearch">
    <search-view [params]="paramsData.ruleReference.paramsSearch" (result)="setDataFieldReference($event)" (getInstance)="setInstanceSearch('reference',$event)"></search-view>
</div>

<div *ngIf="paramsData.viewListData && paramsData.viewListData.data">
    <div class="modal fade" id="dataMultiple" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <strong>{{paramsData.viewListData.title}}</strong>
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover" *ngIf="getObjectKeys(paramsData.viewListData.label).length">
                        <thead>
                        <tr>
                            <th *ngFor="let key of getObjectKeys(paramsData.viewListData.label)">
                                {{paramsData.viewListData.label[key]}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of paramsData.viewListData.data">
                            <td *ngFor="let key of getObjectKeys(paramsData.viewListData.label)">
                                {{data[key]}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-hover" *ngIf="!getObjectKeys(paramsData.viewListData.label).length">
                        <tbody>
                        <tr *ngFor="let data of paramsData.viewListData.data">
                            <td>{{data}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">&nbsp;{{db.msg.warningButtonExit}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<template [ngIf]="paramsData && paramsData.locationParams">
    <modal-view [params]="modalLocation">
        <div body>
            <location-picker [params]="paramsData.locationParams"></location-picker>
        </div>
        <div  *ngIf="!paramsData.locationParams.disabled" footer>
            <button class="btn btn-success" (click)="saveLocation($event)" >{{db.msg.save}}</button>
        </div>
    </modal-view>
</template>


<!--######################################################################################-->