.modal-header {
    border-radius: 0 !important;
}

th.check {
    background: rgba(13, 86, 40, 0.77) !important;
    color: white !important;
}

td.check {
    background: rgba(0, 187, 0, 0.18);
}

table {
    overflow: visible;
}

.deleted:nth-of-type(odd) {
    background: rgba(255, 0, 0, 0.17);
}

.deleted:nth-of-type(even) {
    background: rgba(255, 0, 0, 0.37);
}

.footable-detail-row {
    transition-duration: 1s;
}

.submenu-config {
    border-radius: 0 10px 10px 10px !important;
    transition: .2s !important;
}

.submenu-config * {
    transition: .2s !important;
}