<div *ngIf="model.permissions.warning || !modalIn" >
    <div class="main-view-container">
        <div [@animation_0]='(model.dataList &&  (model.dataList.list || model.dataList.id))?"true":"false"'>
            <section class="content">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <i class="{{model.ruleObject.icon||'fa fa-list-alt'}}"></i>{{'   '+(model.ruleObject.title | translate)}}
                            <tooltip-view [code]="model.prefix+'_1'"></tooltip-view>
                            &nbsp;<i *ngIf="model.rest.findData" class="fa fa-spinner fa-spin" [attr.title]="db.msg.pleaseWait"></i>
                        </h4>
                        <div class="box-tools pull-right header-tools">
                            <template [ngIf]="viewOptions.viewActions">
                                <button *ngFor="let buttom of getViewOptionsButtons('modal')"
                                        class="btn btn-box-tool {{buttom.class}} {{buttom.evalClass?evalExp(buttom.evalClass):''}}" type="button" data-toggle="modal"
                                        [attr.data-target]="'#'+buttom.modal"
                                        [attr.title]="buttom.title | translate"
                                >
                                    <i class="{{buttom.icon}}"></i>
                                </button>
                                <button *ngFor="let buttom of getViewOptionsButtons('showDeleted')"
                                        class="btn btn-box-tool {{buttom.class}}" type="button"
                                        [class.deleted-all]="model.rest.deleted=='all'"
                                        [class.deleted-only]="model.rest.deleted=='only'"
                                        [attr.title]="buttom.title | translate"
                                        (click)="model.changeDeleted($event)"
                                >
                                    <i class="{{buttom.icon}}"></i>
                                </button>
                                <button class="btn btn-box-tool" type="button"
                                        [attr.title]="db.msg.refresh | translate"
                                        (click)="model.loadData('',$event)">
                                    <i *ngIf="!model.rest.findData" class="fa fa-refresh"></i>
                                    <i *ngIf="model.rest.findData" class="fa fa-spinner fa-spin"></i>
                                </button>

                                <template [ngIf]="model.permissions.export">
                                    <a target="_blank" [attr.title]="db.msg.exportPdf | translate" [attr.href]="getUrlExport('pdf')">
                                        <i class="fa fa-file-pdf-o text-red"></i>
                                    </a>&nbsp;
                                    <a target="_blank" [attr.title]="db.msg.exportXls | translate" [attr.href]="getUrlExport('xls')">
                                        <i class="fa fa-file-excel-o text-green"></i>
                                    </a>
                                </template>
                            </template>



                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false" [attr.title]="db.msg.config">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu submenu-config" role="menu">
                                    <li *ngFor="let key of getObjectKeys(model.rules)" class="text-blue flex" [class.check]="model.rules[key].check">

                                        <button class="btn btn-box-tool fa"
                                                [class.fa-eye-slash]="!model.rules[key].visible"
                                                [class.text-red]="!model.rules[key].visible"
                                                [class.fa-eye]="model.rules[key].visible"
                                                [class.text-green]="model.rules[key].visible"
                                                (click)="setVisibleField($event,model.rules[key])"
                                                title="{{model.rules[key].visible?'Ocultar':'Ver'}}"
                                        >

                                        </button>
                                        <button (click)="changePosition($event,key,'up')" class="btn btn-box-tool fa fa-angle-up" title="Subir"></button>&nbsp;
                                        <button (click)="changePosition($event,key,'down')" class="btn btn-box-tool fa fa-angle-down" title="Bajar"></button>&nbsp;
                                        <span class="btn" (click)="setCheckField($event,model.rules[key])">
                                            {{model.rules[key].title}}
                                        </span>

                                    </li>
                                    <li (click)="savePreference()">
                                        <button  class="btn btn-box-tool fa fa-save" title="Guardar">
                                            &nbsp;{{db.msg.savePreferences}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <tooltip-view [code]="model.prefix+'_2'"></tooltip-view>
                        </div>
                    </div>
                    <div *ngIf="model.permissions.list && model.dataList" class="box-body">
                        <div *ngIf="model.dataList.count > 0 || model.dataList.id">
                            <tables-view  [model]="model" (getInstance)="setInstance($event)"></tables-view>
                        </div>
                        <div *ngIf="model.dataList.count == 0 || (!model.dataList.id && !model.dataList.list )">
                            <div class="alert alert-warning alert-dismissable">
                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                <strong><i class="fa fa-warning"></i></strong>&nbsp;{{db.msg.notFound | translate}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!model.permissions.list">
                        <div class="btn-red padding-error">
                            <h5><i class="fa fa-warning"></i>&nbsp;<strong>{{db.msg.warningTitle | translate}} <tooltip-view [code]="model.prefix+'_3'"></tooltip-view></strong></h5>
                            {{ (db.msg.notAuthorized || 'Acceso no autorizado') | translate}},&nbsp;{{db.msg.contactAdminPermission | translate}} {{model.prefix}}_LIST
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="preload" *ngIf='!(model.dataList && model.dataList.list)'>
            <div id="screen">
                <div id="course">
                    <div id="hole"></div>
                    <div id="flag"> <span></span> </div>
                </div>
                <div id="ball"></div>
            </div>
        </div>
    </div>
    <div *ngIf="model.permissions.add">
        <save-view [params]="model.paramsSave" [rules]="model.rulesSave" (save)="model.setLoadData($event)"></save-view>
    </div>
    <div *ngIf="model.permissions.filter">
        <filter-view [params]="model.paramsSearch" [rules]="model.rules" (whereFilter)="model.loadWhere($event)"></filter-view>
    </div>
</div>


<div [@animation_1]="(modalIn)?'true':'false'" *ngIf="!model.permissions.warning && modalIn" class="modal" [class.in]="modalIn" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" [style.display]="modalIn?'block':'none'">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-red text-center">
                <h3 class="modal-title">
                    <i class="fa fa-warning"></i>&nbsp;<strong>{{db.msg.warningTitle | translate | uppercase}}<tooltip-view [code]="model.prefix+'_4'"></tooltip-view></strong></h3>
            </div>
            <div class="modal-body">
                {{db.msg.warningBody | translate}}
            </div>
            <div class="modal-footer">
                <button (click)="onDashboard($event)" type="button" class="btn btn-outlined btn-red fa fa-close" data-dismiss="modal">
                    &nbsp;{{db.msg.warningButtonExit | translate}}
                </button>

                <button (click)="loadPage($event,true)"  data-dismiss="modal" type="button" class="btn btn-red fa fa-check">
                    &nbsp;{{db.msg.warningButtonYes | translate}}
                </button>
            </div>
        </div>
    </div>
</div>