<template [ngIf]="!getDisabledField(data) && !data.blockField">

    <i *ngIf="currentRule.iconVisible" class="{{currentRule.iconVisible}}">&nbsp;</i>
    <i *ngIf="isCurrentType(['icon'])" class="{{currentValue}}">&nbsp;</i>

    <template [ngIf]="currentRule">

        <template [ngIf]="!currentRule.object">

            <template [ngIf]="isCurrentType(['text','textarea','number','checklist','select','password','combodate'])">

                <template [ngIf]="getEnabled">
                    <a x-editable [disabled]="false" [endpoint]="model.endpoint"
                       [class.notHidden]="isCurrentType(['checklist'])"
                       [function]="model.onEditable" [data]="data" [rules]="model.rules" [field]="key">
                        {{currentValue || 'N/A'}}
                    </a>

                    <template [ngIf]="isCurrentType(['select']) && !currentRule.required && currentValue">
                        <button (click)="model.setNull(data,key)" type="button" class="btn btn-box-tool"
                                title="Liberar">
                            <i class="fa fa-minus text-red"></i>
                        </button>
                    </template>

                </template>
                <template [ngIf]="!getEnabled">
                    <a x-editable [disabled]="true" [class.notHidden]="isCurrentType(['checklist'])"
                       [data]="data" [rules]="model.rules" [field]="key">{{currentValue || 'N/A'}}
                    </a>
                </template>
            </template>

            <template [ngIf]="isCurrentType(['location'])">
                <template [ngIf]="getEnabled">
                    <button class="btn btn-box-tool" (click)="loadLocationParams($event)" data-toggle="modal"
                            data-target="#modalLocation" [attr.title]="db.msg.viewLocation"><i
                            class="fa fa-map-marker fa-lg text-red"></i></button>
                </template>

                <template [ngIf]="!getEnabled">
                    <button class="btn btn-box-tool" (click)="loadLocationParams($event)" data-toggle="modal"
                            data-target="#modalLocation" [attr.title]="db.msg.viewLocation"><i
                            class="fa fa-map-marker fa-lg text-red"></i></button>
                </template>
            </template>

            <template [ngIf]="isCurrentType(['progress'])">
                <template [ngIf]="getEnabled">
                    <template [ngIf]="currentRule.progress=='knob'">
                        <div class="knob-size">
                        <input knob type="text" class="dial" [model]="model" [data]="data" [key]="key"
                               [attr.value]="(currentValue || 0)" data-width="100%"
                               [attr.title]="currentRule.title+': '+(currentValue || 0)">
                        </div>
                    </template>
                </template>

                <template [ngIf]="!getEnabled">
                    <template [ngIf]="currentRule.progress=='knob'">
                        <input knob type="text" class="dial" [model]="model" [data]="data" [key]="key"
                               data-width="100%"
                               [attr.title]="currentRule.title+': '+(currentValue || 0)">
                    </template>
                </template>

            </template>

            <template [ngIf]="currentRule && isCurrentType(['image'])">
                <img [attr.id]="'img'+data.id+'_'+key"
                     [attr.src]="currentValue || currentRule.default"
                     width="30" height="30"
                     data-toggle="modal" [attr.data-target]="'#'+data.id+'_'+key"
                     class="image-editor"
                     [attr.title]="currentRule.update?db.msg.imageEdit:''"
                >
                <div [attr.id]="data.id+'_'+key" class="modal fade" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-header bg-red text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                <i class="fa fa-image"></i>&nbsp;
                                <strong>{{db.msg.imageEditor}}</strong>
                            </h4>
                        </div>
                        <div class="modal-content">
                            <template [ngIf]="getEnabled">
                                <image-edit-view
                                        [image]="currentValue"
                                        [edit]="true"
                                        [default]="currentRule.default"
                                        (out)="model.onPatchValue(key,data, $event)"
                                ></image-edit-view>
                            </template>
                            <template [ngIf]="!getEnabled">
                                <image-edit-view
                                        [image]="currentValue"
                                        [edit]="false"
                                        [default]="currentRule.default"
                                        (out)="model.onPatchValue(key,data, $event)"
                                ></image-edit-view>
                            </template>
                        </div>
                    </div>
                </div>
            </template>

            <template [ngIf]="currentRule && isCurrentType(['color'])">
                <template [ngIf]="getEnabled">
                    <input color-picker class="form-control" readonly [style.background-color]="'#'+currentValue"
                           [attr.value]="'#'+currentValue" [hexString]="currentValue"
                           (color)="model.onPatch(key,data,$event)">
                </template>
                <template [ngIf]="!getEnabled">
                    <label [style.background-color]="'#'+currentValue" class="form-control">{{'#'+currentValue}}</label>
                </template>
            </template>

            <template [ngIf]="isCurrentType(['boolean'])">
                <template [ngIf]="getEnabled">
                    <template [ngIf]="key=='enabled'">
                        <button class="{{getBooleandData.class}}" (click)="model.onLock(key,data, $event)"
                                [disabled]="getBooleandData.disabled"
                                [attr.title]="getBooleandData.title">
                            <i class="{{getBooleandData.icon}}"></i>&nbsp;{{getBooleandData.text}}
                        </button>
                    </template>
                    <template [ngIf]="key!='enabled'">
                        <button class="{{getBooleandData.class}}" (click)="model.onPatch(key,data)"
                                [disabled]="getBooleandData.disabled"
                                [attr.title]="getBooleandData.title">
                            <i class="{{getBooleandData.icon}}"></i>&nbsp;{{getBooleandData.text}}
                        </button>
                    </template>
                </template>
                <template [ngIf]="!getEnabled">
                    <template [ngIf]="key=='enabled' || key=='editable'">
                        <template [ngIf]="key=='enabled'">
                            <button class="{{getBooleandData.class}}" (click)="model.onLock(key,data, $event)"
                                    [disabled]="getBooleandData.disabled || data.deleted || disabled "
                                    [attr.title]="getBooleandData.title">
                                <i class="{{getBooleandData.icon}}"></i>&nbsp;{{getBooleandData.text}}
                            </button>
                        </template>
                        <template [ngIf]="key=='editable'">
                            <button class="{{getBooleandData.class}}" (click)="model.onLock(key,data, $event)"
                                    [disabled]="getBooleandData.disabled || data.deleted  || disabled "
                                    [attr.title]="getBooleandData.title">
                                <i class="{{getBooleandData.icon}}"></i>&nbsp;{{getBooleandData.text}}
                            </button>
                        </template>

                    </template>
                    <template [ngIf]="key!='enabled' && key!='editable'">
                        <button class="{{getBooleandData.class}}" [disabled]="true"
                                [attr.title]="getBooleandData.title">
                            <i class="{{getBooleandData.icon}}"></i>&nbsp;{{getBooleandData.text}}
                        </button>
                    </template>
                </template>
            </template>

            <template [ngIf]="isCurrentType(['time'])">
                <template [ngIf]="getEnabled">
                    {{formatTimeView}}
                </template>
                <template [ngIf]="!getEnabled">
                    {{formatTimeView}}
                </template>
            </template>

            <template [ngIf]="isCurrentType(['url'])">

                <template [ngIf]="getEnabled">

                    <template [ngIf]="currentRule.url == 'image'">
                        <img class="img-responsive" [attr.src]="currentValue" />
                        <a x-editable [disabled]="false" [endpoint]="model.endpoint"
                           [function]="model.onEditable" [data]="data" [rules]="model.rules" [field]="key">
                        </a>
                    </template>

                </template>

                <template [ngIf]="!getEnabled">
                    <template [ngIf]="currentRule.url == 'image'">
                        <img class="img-responsive" [attr.src]="currentValue" />
                    </template>
                </template>

            </template>

            <template [ngIf]="isCurrentType(['eval'])">
                <template [ngIf]="getEnabled">
                    {{getTypeEval}}
                </template>
                <template [ngIf]="!getEnabled">
                    {{getTypeEval}}
                </template>
            </template>

            <template [ngIf]="isCurrentType(['array'])">
                <template [ngIf]="currentRule.typeView == 'normal'">
                    <div *ngFor="let item of model.fieldToArray(data,key)" class="array-content">
                        <span class="array-item">{{item}}</span>
                    </div>
                </template>
                <template [ngIf]="currentRule.typeView=='modal'">
                    <a (click)="paramsData.select.title=currentRule.title; paramsData.arrayData=model.fieldToArray(data,key)"
                       data-toggle="modal" data-target="#modalRule">
                        <i class="fa fa-list fa-lg text-info"></i>
                    </a>
                </template>
            </template>

        </template>

        <template [ngIf]="currentRule.object">

            <template [ngIf]="key=='roles'">
                <template [ngIf]="getEnabled">
                    <a x-editable class="notHidden"
                       [disabled]="!currentRule.permissions.list || !model.permissions.roleSave"
                       [endpoint]="'/users/'+data.id+'/roles'"
                       [function]="model.onEditableRole" [data]="data" [rules]="model.rules"
                       field="roles">
                    </a>
                </template>
                <template [ngIf]="!getEnabled">
                    <a x-editable class="notHidden"
                       [disabled]="true"
                       [endpoint]="'/users/'+data.id+'/roles'"
                       [function]="model.onEditableRole" [data]="data" [rules]="model.rules"
                       field="roles">
                    </a>
                </template>
            </template>

            <template [ngIf]="key!='roles'">

                <template [ngIf]="isCurrentType(['checklist'])">

                    <template [ngIf]="getEnabled">
                        <a x-editable [disabled]="false" [endpoint]="model.endpoint" class="notHidden"
                           [function]="model.onEditable" [data]="data" [rules]="model.rules" [field]="key">
                            {{currentValue || 'N/A'}}
                        </a>
                    </template>

                    <template [ngIf]="!getEnabled">
                        <a x-editable [disabled]="true" [data]="data" [rules]="model.rules" [field]="key">
                            {{currentValue || 'N/A'}}</a>
                    </template>

                </template>

                <template [ngIf]="isCurrentType(['text'])">

                    <template [ngIf]="currentRule.multiple">
                        <button *ngIf="currentValue && currentValue.length > 0"
                                (click)="setViewListData($event)"
                                type="button" class="btn btn-box-tool"
                                title="Listar" data-toggle="modal"
                                data-target="#dataMultiple"
                        >
                            <i class="fa fa-list text-red"></i>
                        </button>
                    </template>

                    <span class="title-object">
                        <template [ngIf]="currentRule.eval">
                            {{evalExp(data,currentRule.eval)}}
                        </template>
                        <template [ngIf]="!currentRule.eval">
                            {{data[currentRule.keyDisplay]}}
                        </template>
                    </span>

                    <span class="buttons-object">

                        <template [ngIf]="getEnabled">

                            <template [ngIf]="!currentRule.reference">

                                <button *ngIf="currentRule.paramsSave && currentRule.permissions.add"
                                        type="button" class="btn btn-box-tool"
                                        (click)="loadSaveModal($event)" title="Asignar nuevo"
                                        data-toggle="modal"
                                        [attr.data-target]="'#'+currentRule.paramsSave.idModal">
                                    <i class="fa fa-plus text-green"></i>
                                </button>

                                <button *ngIf="currentRule.paramsSearch && currentRule.permissions.search"
                                        type="button" class="btn btn-box-tool"
                                        (click)="loadSearchTable($event)" title="Buscar"
                                        data-toggle="modal"
                                        [attr.data-target]="'#'+currentRule.paramsSearch.idModal">
                                    <i class="fa fa-search text-blue"></i>
                                </button>

                                <button *ngIf="data[currentRule.code] && !currentRule.required"
                                        (click)="model.setNull(data,key)"
                                        type="button" class="btn btn-box-tool"
                                        title="Liberar">
                                    <i class="fa fa-minus text-red"></i>
                                </button>

                            </template>

                            <template [ngIf]="currentRule.reference">

                                <button (click)="loadDataFieldReference()"
                                        *ngIf="model.permissions.update && currentRule.permissions.add"
                                        data-toggle="modal"
                                        [attr.data-target]="'#'+currentRule.paramsSave.idModal"
                                        type="button" class="btn btn-box-tool"
                                        title="Asignar nuevo">
                                    <i class="fa fa-plus text-green"></i>
                                </button>

                                <button (click)="loadDataFieldReference()"
                                        *ngIf="model.permissions.update && currentRule.permissions.search && !currentRule.pathLocal"
                                        data-toggle="modal"
                                        [attr.data-target]="'#'+currentRule.paramsSearch.idModal"
                                        type="button" class="btn btn-box-tool"
                                        title="Asignar">
                                    <i class="fa fa-search text-blue"></i>
                                </button>

                                <button *ngIf="currentRule.paramsSearch && currentRule.permissions.search && currentRule.pathLocal"
                                        type="button" class="btn btn-box-tool"
                                        (click)="loadSearchTable($event)" title="Buscar"
                                        data-toggle="modal"
                                        [attr.data-target]="'#'+currentRule.paramsSearch.idModal">
                                    <i class="fa fa-search text-blue"></i>
                                </button>

                                <button *ngIf="model.permissions.update && !currentRule.required && data[currentRule.code]"
                                        (click)="loadDataFieldReference(true)"
                                        type="button" class="btn btn-box-tool"
                                        title="Liberar">
                                    <i class="fa fa-minus text-red"></i>
                                </button>

                            </template>

                        </template>

                    </span>

                </template>

            </template>

        </template>

    </template>

</template>

<template [ngIf]="getDisabledField(data)">
    <label class="label label-orange">N/A</label>
</template>


<template [ngIf]="isCurrentType(['newType'])">

    <template [ngIf]="getEnabled"></template>

    <template [ngIf]="!getEnabled"></template>

</template>
