<div *ngIf="(!_disabledField && !data.blockField);else
                                                        disableField">

    <i *ngIf="_rule.iconVisible" class="{{_rule.iconVisible}}">&nbsp;</i>
    <i *ngIf="_fnIsType('icon')" class="{{_value}}">&nbsp;</i>

    <ng-template [ngIf]="!_fnIsType('object')">

        <ng-template [ngIf]="_fnIsType('text','textarea','number','checklist','select','password','combodate')">

            <ng-template [ngIf]="_enabled">
                <a x-editable [params]="_getParamsEditable()" [class.notHidden]="_fnIsType('checklist')"></a>

                <ng-template [ngIf]="_fnIsType('select') && !_rule.required && _value">
                    <button (click)="model.setNull(data,_key)" type="button" class="btn btn-box-tool"
                            [attr.title]="'custom.setFree' | translate">
                        <i class="fa fa-minus text-red"></i>
                    </button>
                </ng-template>

            </ng-template>
            <ng-template [ngIf]="!_enabled">
                <a x-editable [params]="_getParamsEditable(true)" [class.notHidden]="_fnIsType('checklist')"></a>
            </ng-template>
        </ng-template>

        <!--<ng-template [ngIf]="_fnIsType('location')">-->
            <!--<button class="btn btn-box-tool" (click)="showModal('location')"-->
                    <!--[attr.title]="'custom.viewLocation' | translate">-->
                <!--<i class="fa fa-map-marker fa-lg text-red"></i>-->
            <!--</button>-->
        <!--</ng-template>-->

        <ng-template [ngIf]="_fnIsType('progress')">
            <ng-template [ngIf]="_enabled">
                <ng-template [ngIf]="_rule.progress=='knob'">
                    <div class="knob-size">
                        <input knob type="text" class="dial"
                               [model]="model"
                               [data]="data"
                               [key]="_key"
                               [attr.value]="(_value || 0)" data-width="100%"
                               [attr.title]="_rule.title+': '+(_value || 0)">
                    </div>
                </ng-template>
            </ng-template>

            <ng-template [ngIf]="!_enabled">
                <ng-template [ngIf]="_rule.progress=='knob'">
                    <input knob type="text" class="dial"
                           [model]="model"
                           [data]="data"
                           [key]="_key"
                           data-width="100%"
                           [attr.title]="_rule.title+': '+(_value || 0)">
                </ng-template>
            </ng-template>

        </ng-template>

        <ng-template [ngIf]="_rule && _fnIsType('image')">
            <img [attr.id]="'img'+data.id+'_'+_key"
                 [attr.src]="_value || _rule.default"
                 class="image-editor"
                 [attr.title]="(_rule.update?'custom.imageEdit':'') | translate"
                 (click)="showModal('image')"
            >
            <div [attr.id]="data.id+'_'+_key" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-header bg-red text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <i class="fa fa-image"></i>&nbsp;
                            <strong>{{'custom.imageEditor'| translate}}</strong>
                        </h4>
                    </div>
                    <div class="modal-content">
                        <ng-template [ngIf]="_enabled">
                            <image-edit-view
                                    [image]="_value"
                                    [edit]="true"
                                    [default]="_rule.default"
                                    (out)="model.onPatchValue(key,data, $event)"
                            ></image-edit-view>
                        </ng-template>
                        <ng-template [ngIf]="!_enabled">
                            <image-edit-view
                                    [image]="_value"
                                    [edit]="false"
                                    [default]="_rule.default"
                                    (out)="model.onPatchValue(key,data, $event)"
                            ></image-edit-view>
                        </ng-template>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template [ngIf]="_rule && _fnIsType('color')">
            <ng-template [ngIf]="_enabled">
                <input color-picker readonly
                       class="form-control"
                       [style.background-color]="'#'+_value"
                       [attr.value]="'#'+_value"
                       [hexString]="_value"
                       (color)="model.onPatch(key,data,$event)">
            </ng-template>
            <ng-template [ngIf]="!_enabled">
                <label [style.background-color]="'#'+_value" class="form-control">{{'#'+_value}}</label>
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="_fnIsType('boolean')">
            <ng-template [ngIf]="_enabled">
                <button class="{{_booleanData.class}}"
                        (click)="model.onPatch(_key,data)"
                        [disabled]="_booleanData.disabled"
                        [attr.title]="_booleanData.title">
                    <i class="{{_booleanData.icon}}"></i>
                    &nbsp;{{_booleanData.text}}
                </button>
            </ng-template>
            <ng-template [ngIf]="!_enabled">
                <button class="{{_booleanData.class}}" [disabled]="true"
                        [attr.title]="_booleanData.title">
                    <i class="{{_booleanData.icon}}"></i>
                    &nbsp;{{_booleanData.text}}
                </button>
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="_fnIsType('time')">
            <ng-template [ngIf]="_enabled">
                {{formatTimeView}}
            </ng-template>
            <ng-template [ngIf]="!_enabled">
                {{formatTimeView}}
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="_fnIsType('url')">
            <ng-template [ngIf]="_enabled">
                <ng-template [ngIf]="_rule.url == 'image'">
                    <img class="img-responsive" [attr.src]="_value"/>
                    <a x-editable [params]="_getParamsEditable()"></a>
                </ng-template>
            </ng-template>
            <ng-template [ngIf]="!_enabled">
                <ng-template [ngIf]="_rule.url == 'image'">
                    <img class="img-responsive" [attr.src]="_value"/>
                </ng-template>
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="_fnIsType('eval')">
            <ng-template [ngIf]="_enabled">
                {{_rule.getValue(data)}}
            </ng-template>
            <ng-template [ngIf]="!_enabled">
                {{_rule.getValue(data)}}
            </ng-template>
        </ng-template>
    </ng-template>

    <ng-template [ngIf]="_fnIsType('object')">
        <ng-template [ngIf]="_key=='roles'">
            <ng-template [ngIf]="_enabled">
                <a x-editable class="notHidden"
                   [params]="_getParamsEditable(!_rule.permissions.list || !model.permissions.roleSave)"
                   [endpoint]="'/users/'+data.id+'/roles'">
                </a>
            </ng-template>
            <ng-template [ngIf]="!_enabled">
                <a x-editable class="notHidden" [params]="_getParamsEditable(true)"
                   [endpoint]="'/users/'+data.id+'/roles'">
                </a>
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="_key!='roles'">
            <ng-template [ngIf]="_fnIsType('checklist')">
                <ng-template [ngIf]="_enabled">
                    <a x-editable class="notHidden" [params]="_getParamsEditable()">{{_value || 'N/A'}}</a>
                </ng-template>
                <ng-template [ngIf]="!_enabled">
                    <a x-editable [params]="_getParamsEditable(true)">{{_value || 'N/A'}}</a>
                </ng-template>
            </ng-template>
            <ng-template [ngIf]="_fnIsMode('reference')">
                <ng-template [ngIf]="_rule.multiple">
                    <button *ngIf="_value && _value.length > 0"
                            (click)="setViewListData($event)"
                            type="button" class="btn btn-box-tool"
                            title="Listar" data-toggle="modal"
                            data-target="#dataMultiple">
                        <i class="fa fa-list text-red"></i>
                    </button>
                </ng-template>
                <span class="title-object">
                    {{_rule.getValue(data)}}
                </span>
                <span class="buttons-object">
                    <ng-template [ngIf]="_enabled">
                        <!--<ng-template [ngIf]="!_rule.reference">-->

                        <!--<button *ngIf="_rule.paramsSave && _rule.permissions.add"-->
                        <!--type="button" class="btn btn-box-tool"-->
                        <!--(click)="showModal('save',_rule.model)" title="Asignar nuevo">-->
                        <!--<i class="fa fa-plus text-green"></i>-->
                        <!--</button>-->

                        <!--<button *ngIf="_rule.paramsSearch && _rule.permissions.search"-->
                        <!--type="button" class="btn btn-box-tool"-->
                        <!--(click)="showModal('searh')" title="Buscar">-->
                        <!--<i class="fa fa-search text-blue"></i>-->
                        <!--</button>-->

                        <!--<button *ngIf="data[_rule.code] && !_rule.required"-->
                        <!--(click)="model.setNull(data,key)"-->
                        <!--type="button" class="btn btn-box-tool"-->
                        <!--title="Liberar">-->
                        <!--<i class="fa fa-minus text-red"></i>-->
                        <!--</button>-->

                        <!--</ng-template>-->

                        <!--<ng-template [ngIf]="_rule.reference">-->

                        <!--<button (click)="loadDataFieldReference()"-->
                        <!--*ngIf="model.permissions.update && _rule.permissions.add"-->
                        <!--data-toggle="modal"-->
                        <!--[attr.data-target]="'#'+_rule.paramsSave.idModal"-->
                        <!--type="button" class="btn btn-box-tool"-->
                        <!--title="Asignar nuevo">-->
                        <!--<i class="fa fa-plus text-green"></i>-->
                        <!--</button>-->

                        <!--<button (click)="loadDataFieldReference()"-->
                        <!--*ngIf="model.permissions.update && _rule.permissions.search && !_rule.pathLocal"-->
                        <!--data-toggle="modal"-->
                        <!--[attr.data-target]="'#'+_rule.paramsSearch.idModal"-->
                        <!--type="button" class="btn btn-box-tool"-->
                        <!--title="Asignar">-->
                        <!--<i class="fa fa-search text-blue"></i>-->
                        <!--</button>-->

                        <!--<button *ngIf="_rule.paramsSearch && _rule.permissions.search && _rule.pathLocal"-->
                        <!--type="button" class="btn btn-box-tool"-->
                        <!--(click)="loadSearchTable($event)" title="Buscar"-->
                        <!--data-toggle="modal"-->
                        <!--[attr.data-target]="'#'+_rule.paramsSearch.idModal">-->
                        <!--<i class="fa fa-search text-blue"></i>-->
                        <!--</button>-->

                        <!--<button *ngIf="model.permissions.update && !_rule.required && data[_rule.code]"-->
                        <!--(click)="loadDataFieldReference(true)"-->
                        <!--type="button" class="btn btn-box-tool"-->
                        <!--title="Liberar">-->
                        <!--<i class="fa fa-minus text-red"></i>-->
                        <!--</button>-->

                        <!--</ng-template>-->
                    </ng-template>
                </span>
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="_enabled">
            <span *ngFor="let action of _actionsRule" (click)="action.callback(this,_key);">
                <a class="cursor-pointer {{action.currentView(this).colorClass || ''}}"
                   [attr.title]="_key+'.'+action.currentView(this).title | translate">
                    <i class="{{action.currentView(this).icon || ''}}"></i>
                </a>
            </span>
        </ng-template>
    </ng-template>
</div>

<ng-template #disableField>
    <label class="label label-orange">N/A</label>
</ng-template>

<ng-template [ngIf]="_fnIsType('newType')">
    <ng-template [ngIf]="_enabled"></ng-template>
    <ng-template [ngIf]="!_enabled"></ng-template>
</ng-template>
