<div *ngIf="_currentModel" class="save-view">
    <div class="save-body">
        <form-view  (getInstance)="_setForm($event)" [model]="_currentModel"></form-view>
    </div>
    <div class="save-footer">
        <button *ngIf="existloadDelete()" (click)="loadDelete($event)" class="btn btn-success">
            <i class="fa fa-trash"></i>&nbsp;Eliminar
        </button>
        <button (click)="_fnFormSubmit($event)" class="btn btn-primary" [disabled]="!_fnFormValid()">
            <i class="fa fa-save"></i>&nbsp;{{params.update?'Actualizar':'Registrar'}}
        </button>
    </div>
</div>