<div class="view" *ngIf="model">
    <div class="{{(dataParams.internal)?'':'box'}}">
        <div class="view-header box-header" *ngIf="!dataParams.internal">
            <i class="fa fa-building"></i> <h2>{{model.ruleObject.title}}</h2>
        </div>
        <div class="view-body {{(dataParams.internal)?'':'box-body'}}" *ngIf="model.completed">
            <div *ngFor="let key of getDataKeys()" class="view-item {{db.classCol(12/dataParams.cols.lg,12/dataParams.cols.md,12/dataParams.cols.sm,12/dataParams.cols.xs)}}">
                <div class="view-item-icon {{db.classCol(2,2,2,2)}}">
                    <span>
                        <i class="{{(model.rules[key].icon)?model.rules[key].icon:'fa fa-list-alt'}}"></i>
                    </span>
                </div>
                <div class="view-item-detail {{db.classCol(10,10,10,10)}}">
                    <div class="view-item-detail-title">{{model.rules[key].title+": "}}</div>
                    <div class="view-item-detail-content">
                        <rule-view [model]="model" [key]="key" [data]="(model.dataList.id)?model.dataList:model.dataList.list[0]" [disabled]="false" [paramsData]="paramsData"></rule-view>
                        <!--paramsData disabled type-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>