<div class="view {{(dataParams.internal)?'':'box'}}" *ngIf="model">
    <div class="view-header box-header" *ngIf="!dataParams.internal">
        <i class="fa fa-building"></i> <h2>{{model.ruleObject.title}}</h2>
    </div>
    <div class="view-tools-group">
        <button title="Volver" (click)="model.navIndex = null" *ngIf="((dataParams.nav == true) || (dataParams.nav && dataParams.nav.back)) && (model.dataList.count && model.dataList.count > 1)" class="back">
            <i class="fa fa-reply"></i>
        </button>
        <template [ngIf]="dataParams.internal">
            <button *ngFor="let action of model.getActionsArray(data)"
                    (click)="action.callback(data,model.navIndex||0)" [attr.title]="action.view[getNumber(data[action.syncKey])||0].title">
                <i class="{{action.view[getNumber(data[action.syncKey])||0].icon}}"></i>
            </button>
        </template>
    </div>
    <div class="view-body {{(dataParams.internal)?'':'box-body'}}" *ngIf="model.completed">
        <button *ngIf="((dataParams.nav == true) || (dataParams.nav && dataParams.nav.dir)) && (model.dataList.count && model.dataList.count>1)"
                [disabled]="model.rest.findData || (model.navIndex==0 && model.rest.offset==0) || (model.dataList.count && model.dataList.count==1)"
                class="nav-btn nav-left"  (click)="model.navIndex = -1"
        >  <i class="fa fa-caret-up"></i>
        </button>
        <div class="view-data {{((dataParams.internal)?'view-data-internal':'')}}">
            <div *ngFor="let key of getDataKeys()" class="view-item {{db.classCol(12/dataParams.cols.lg,12/dataParams.cols.md,12/dataParams.cols.sm,12/dataParams.cols.xs)}}">
                <div class="view-item-icon {{db.classCol(2,2,2,2)}}">
                    <span>
                        <i class="{{(model.rules[key].icon)?model.rules[key].icon:'fa fa-list-alt'}}"></i>
                    </span>
                </div>
                <div class="view-item-detail {{db.classCol(10,10,10,10)}}">
                    <div class="view-item-detail-title">{{model.rules[key].title+": "}}</div>
                    <div class="view-item-detail-content">
                        <rule-view [model]="model" [data]="data"  [key]="key" [paramsData]="paramsData"> </rule-view>
                    </div>
                </div>
            </div>
        </div>
        <button *ngIf="((dataParams.nav == true) || (dataParams.nav && dataParams.nav.dir)) && (model.dataList.count && model.dataList.count>1)"
                [disabled]="model.rest.findData || (model.navIndex+model.rest.offset==model.dataList.count-1)"
                class="nav-btn nav-right" (click)="model.navIndex = 1"
        ><i class="fa fa-caret-down"></i>
        </button>
    </div>
</div>