<div class="frame {{config.size||'md'}}" [class.show]="_visible">
    <div class="backdrop" (click)="visible=false"></div>
    <div class="window">
        <div class="header {{config.header.classes||'bg-primary'}}"> <!--BOOTSTRAP-->
            <h3 class="title">{{config.header.title || ''}}</h3>
            <div class="btn-toolbar">
                <button class="close" title='cerrar' (click)="visible=false"><i class="fa fa-times"></i></button> <!--BOOTSTRAP-->
            </div>
        </div>

        <div class="body">
            <div [ngSwitch]="db.ms.currentModal">
                <template [ngSwitchCase]="'delete'">
                    <div>
                        {{db.ms.params.model.dataActions.get('delete').params.message}}
                        <strong>'{{db.ms.params.model.currentData[db.ms.params.model.view.display]}}'</strong>
                    </div>
                </template>

                <template [ngSwitchCase]="'save'">
                    <save-view  [params]  = "
                    {
                        model: db.ms.params.model,
                        childKey:(db.ms.params.extraParams &&
                                  db.ms.params.extraParams.childKey)?db.ms.params.extraParams.childKey:null
                    }"
                    >
                    </save-view>
                </template>

                <template [ngSwitchCase]="'filter'">
                    filter :'(
                </template>

                <template [ngSwitchCase]="'search'">
                    search -.-
                </template>

                <template [ngSwitchCase]="'location'">
                    location :)
                    <!--<location-picker [params]=""></location-picker> TODO:PARAMETROS de la rule-->
                </template>
            </div>
        </div>

        <div class="footer" *ngIf="config.footer">
            <div class="btns" *ngIf="config.footer.btns">
                <button *ngFor="let btn of config.footer.btns"
                        class="btn {{btn.classes||'btn-default'}}" (click)="btn.call();"
                        [disabled]="db.evalMe(btn.exp || 'false')">
                    <i class="{{btn.icon || 'fa fa-list'}}"></i>&nbsp;{{btn.name}}
                </button>
            </div>
        </div>
    </div>
</div>