<section class="nav {{getNavState()}}">
    <div class="header" (click)="onProfile($event)">
        <img class="image" [attr.src]="db.myglobal.user.image || db.pathElements.robot">
        <div class="info">
            <span class="name">{{db.myglobal.user.name}}</span>
            <span class="company" *ngIf="db.myglobal.user.companyName && db.myglobal.user.companyName!=''">
                <i class="fa fa-industry"></i> {{db.myglobal.user.companyName}}
            </span>
        </div>
    </div>
    <div class="status">
        <i class="fa fa-circle text-success"></i> {{db.myglobal.user.email}}
    </div>
    <ul class="menu" *ngIf="menu && menu.items.length > 0">
        <template [ngTemplateOutlet]="tree" [ngOutletContext]="{menu:menu}"></template>
    </ul>
</section>

<template #tree let-menu="menu">
    <template [ngIf]="menu">
        <li class="item" *ngFor="let sub of menu.items; let i=index" [class.selected]="menu.selectedItem==i && state!=1">
            <div class="item-info" (click)="menu.click(i);">
                <i class="item-icon {{sub.icon || 'fa fa-list'}}"></i>
                <span class="item-title">&nbsp;&nbsp;{{sub.title || 'Sin titulo'}}</span>
                <i class="item-exp fa fa-angle-left" *ngIf="sub.items.length > 0"></i>
            </div>
            <ul class="sub-menu" *ngIf="sub.items.length > 0">
                <template [ngTemplateOutlet]="tree" [ngOutletContext]="{menu:sub}"></template>
            </ul>
        </li>
    </template>
</template>