.blue .main-sidebar{
  background-color: #222d32 !important;
}

.wrapper{
  background-color: #ecf0f5 !important;
}

.content-wrapper{
  border-radius: 0px !important;
}

.main-footer-container{
  background-color: #222d32 !important;
}

.truncate{
  text-overflow: ellipsis;
  overflow: hidden;
}

.treeview-menu{
  margin-top: -2px !important;
  display: block;
  overflow: hidden;
}

.tab-content {
  background: black;
}

.control-sidebar-dark{
  background: transparent;
}

.cargar{
  color: white;
  font-size: 16pt;
  margin: 10pt;
}

.padding-error{
  padding: 5pt;
}

.padding-top-4{
  padding-top: 4pt;
}

.img-search{
  width: 28pt;
}

.form-margin{
  margin-bottom: 10pt;
}

.z-index{
  z-index:1;
}

.alert{
  margin-bottom: 0px !important;
}

/*////////////////////////////////////////////////////////////////
.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: transparent;
}
.modal-backdrop.modal-backdrop-transparent {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-backdrop.modal-backdrop-fullscreen {
  background: #FFF;
}

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px;
  }
}

.version{
  background-color: rgb(165, 165, 165);
  font-weight: 100;
  font-size: small;
  color: white;
}

.modal .modal-dialog .modal-content {
  background: #FFF;
}

.modal.in .modal-dialog:not(.send){
  width: 80%;
}

.a-menu-modal{
  color: #fff;
}

.menu-modal .col-lg-2.col-md-2 {
  height: 100px;
  text-align: center;
}

.menu-modal i{
  font-size: 50pt;
}

.subir-top{
  /*margin-top: -50px;*/
}

.logo{
  padding: 0px;
}

.img-logo{
  position: relative;
  width: 50px;
  height: 50px;
  left: 0px;
  margin: 0 auto;
}

/*USER DROPDOWN*/
.user-menu .dropdown-menu {
  display:block !important;
  max-height: 0px !important;
  width: 200px !important;
  right: 0px !important;
  padding:0px !important;
  border:0px !important;
  z-index:999 !important;
  top:0px;
  overflow: hidden;
  transition:.5s cubic-bezier(0.58, -0.85, 0.53, 1.42);
}

.user-menu.open .dropdown-menu{
  top: 50px;
  max-height: 200px !important;
  height: auto;
  padding: 0px !important;
  background:#f9f9f9;
  border: 1px solid #0c4e24 !important;
  border-radius: 0px 0px 10px 10px !important;
}

.user-header{
  height: 110px !important;
  padding: 10px !important;
  border: 2px solid #0c4e24 !important;
}

.user-header img{
  height:90px !important;
  width: 90px !important;
  padding: 1px !important;
  background:#5cb85c;
  border: 3px solid rgb(13, 86, 40) !important;
  box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.user-footer {
  height: 40px !important;
  padding:0px !important;
  overflow: hidden;
}

header.main-header{
  box-shadow:0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  z-index:1000;
}

.user-menu .dropdown-toggle {
  width: 200px !important;
  z-index:10001;
}

.user-menu.open a.dropdown-toggle {
  box-shadow:2px 0px 2px 0px rgba(0, 0, 0, 0.5);
}

.user-btns {
  padding:0px !important;
  overflow:hidden;
  height:100% !important;
  border-radius:0px !important;
  background:#0c4e24
}

.user-btns *{
  display: inline-block;
  width: 49.5%;
  border-radius:0px !important;
  height:100% !important;
  line-height:100% !important;
}


@media (max-width: 768px) {
  .user-menu .dropdown-toggle{
    width: 50px !important;
  }
}
