<div class="wrapper login-content" >
    <div class="login-box">
        <div class="login-logo">
            <img [attr.src]="db.pathElements.logoBlanco" class="img-responsive img-logo">
        </div>
        <div class="row form-content">

            <div class="header-login text-center ">
                <div class="login-box-body">
                    <h4>{{'custom.activeUser' | translate}}</h4>
                </div>
                <h1 *ngIf="!activate.response" class="cargar">
                    <i class="fa fa-spinner fa-spin"></i>
                    &nbsp;{{'custom.pleaseWait' | translate}}
                </h1>
                <h2 *ngIf="activate.response">
                    {{ (activate.status?'custom.activate':'custom.errorActivate') | translate}}
                </h2>
                <div class="login-box-body">
                    <button class="btn btn-success btn-blue" (click)="onLogin($event)">
                        <i class="fa fa-chevron-circle-left"></i>&nbsp;{{'custom.start' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


